* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

/* Ngăn trang cuộn ngang */
body {
  margin    : 0;
  padding   : 0;
  overflow-x: hidden;
  /* Ngăn cuộn ngang */
  overflow-y: auto;
  /* Cho phép cuộn dọc */
}