/* RevenueManagement.css */

.revenue-container {
  padding: 1rem;
  width: 100%;
  
}

.revenue-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.revenue-scroll {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.revenue-cards {
  display: inline-flex;
  gap: 1rem;
  min-width: max-content;
  width: 100%;
}

.card {
  
 background-image: none;
  border-radius: 1rem;
  padding: 1rem;
  
  
}

.card-250 {
  width: 250px;
  margin-top: 20px;
  margin-left: 30px;
  color:chocolate;
  margin-bottom: 45px;
}

.card-400 {
  width: 400px;
  margin-top: 30px;
}

.card-500-1 {
  width: 300px;
height: auto;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 30px;
}
.card-500-2 {
  width: 300px;
  height: auto;
  flex: 1;
  margin-bottom: 30px;
   flex-shrink: 0;
}
.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-value-green {
  font-size: 1.75rem;
  color: green;
}

.card-value-blue {
  font-size: 1.75rem;
  color: #1e80ff;
}
.revenue-headercontainer {
  display: flex;
  height: 70px;
  
  width: 100%;
  
  background-color: blueviolet;
}
.qc-logo-dashboard {
  flex: 0.3;
  width: 60px;
  height: 55px;
  margin-top: 15px;
  object-fit: contain;

}
.box-header1 {
  flex: 0.3;
  display: flex;
}
.qc-name {
  font-weight: bolder;
  flex:1.2;
 font-size: 24px;
 text-align:start;
  margin-top: 20px;
color: azure;
padding: auto;
}
.box-header2 {
  flex: 0.4;
  height: 54px;
  font-weight: bolder;
  width: 325px;
  text-align: start;
  font-size: 34px;
  white-space: normal;
  margin-left: 0px;
  margin-top: 10px;

  color: azure;
}
.box-header3 {
  flex: 0.3;
  height: 54px;
  width: 325px;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  
  margin-top: 20px;

  color: azure;
}
.chart-container{
  display: flex;
}