.authen-template {
    width         : 100vw;
    height        : 100vh;
    display       : flex;
    flex-direction: row;
}

.authen-template__form {
    width           : 30%;
    height          : 100%;
    background-color: #fff;
    display         : flex;
    justify-content : center;
    align-items     : center;
    z-index         : 1;
    box-shadow      : 2px 0 10px rgba(0, 0, 0, 0.1);
}

.authen-template__image {
    width              : 70%;
    height             : 100%;
    background-image   : url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}

/* RESPONSIVE CHO MÀN NHỎ */
@media (max-width: 768px) {
    .authen-template {
        flex-direction: column;
    }

    .authen-template__form {
        width  : 100%;
        height : auto;
        padding: 40px 20px;
    }

    .authen-template__image {
        display: none;
    }
}