.navbar {
    background-color: #0C1C2C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: Arial, sans-serif;  

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;   
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logo {
    height: 55px;
    margin-right: 10px;
}

.brand-text {
    font-weight: bolder;
    line-height: 1.1;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-menu li a:hover {
    color: #6eaef4;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    margin-right: 50px;
    
}

.btn-register {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-register:hover {
    background-color: #0056b3;
}

.btn-login {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-login:hover {
    background-color: #e0a800;
}




.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li {
    /* Tăng vùng nhấn */
    cursor: pointer;
  }
  
  .nav-link {
    display: block; 
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s;
  }
  
  .nav-link:hover {
 color: #007bff;
  }
  
  .nav-link.active {
    
    font-weight: bold;
    border-bottom: 4px solid ; 
  }
  

